* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.showcase {
  display: flex;
  max-width: 1650px;
  margin: auto;
}
.showcase-left {
  width: 70%;
}
.showcase-right {
  width: 30%;
  min-width: 400px;
}

@media (max-width: 760px) {
  .showcase-right {
    display: none;
    width: 0%;
  }
  .showcase-left {
    width: 90%;
    margin: auto;
  }
}
